#ifndef SECRETS_H
#define SECRETS_H

const char* SECRET_MQTT_SERVER   = "IoTHubName.azure-devices.net";
const char* SECRET_DEVICE_ID     = "MyESP32";
const char* SECRET_MQTT_USER     = "IoTHubName.azure-devices.net/MyESP32/?api-version=2021-04-12";
const char* SECRET_SAS_TOKEN     = "SharedAccessSignature sr=IoTHubName.azure-devices.net...";

#endif